<section ng-app="Contacts" class="searching" ng-controller="NavCtrl">
	<nav><ul class="nav" >
		<li ng-click="select_email()" class="{{send_email}}">Send Email</li>
		<li ng-click="add_contact()" class="{{add_contact}}">Add contact</li>
	</ul></nav>
	<div ng-controller="UserCtrl" class="{{user_ctrl}}" ng-class="{{user_ctrl}}">
		<form ng-submit="clean_search()" >
			<input type="text" ng-model="val" ng-change="search()" placeholder="{{search_placeholder()}}", class="search">
			<input type="submit" value="Clean">
		</form>
		<ul class="results animate-container">
			<li class="animate-repeat user_info {{class_name(user)}}" ng-repeat="user in users | filter:own_val | orderBy:'name' | limitTo:10" ng-click="contact_click()" >  <!-- | ﬁlter:city -->
				<div><img ng-src={{user.image_path}} class="little_user_image" /></div>
				<div class="words"><h3>{{user.name}} {{user.last_name}}</h3></div>		
			</li>
		</ul>
		
		<article >
			<article class="email_box">
				<form ng-submit="send_message()" >
					<textarea type="text" rows="10"  ng-model="message" placeholder="Message text" class="search" ></textarea>
					<input type="submit" value="Send" class="{{ maildisabled() }}" >
				</form>
			</article>
			<button ng-click='toggleHideClass();'> Toggle </button>
			<ul class="hidden_ul {{hide}}" >
				<li ng-repeat="user in users | filter: marked=true | orderBy: 'last_name' | orderBy: 'name'" class="user_info block {{class_name(user)}}" ng-click="contact_click()">  <!-- | ﬁlter:city -->
					<div class="image_containers">
						<img ng-src={{user.image_path}} class="user_image" />
						<div class="words"><h4>{{user.name}} {{user.last_name}}({{user.points}})</h4></div>
					</div>
				</li>
			</ul>
		</article>
	</div>
	<div ng-controller="UserCtrl" class="{{newuser_ctrl}}" ng-class="{{newuser_ctrl}}">
		<h2>Add new contact</h2>
		<div>
			<form ng-submit="add_new_contact()" >
				<div>
					<label>Name</label>
					<input name="name" ng-model="newuser.name">
				</div>
				<div>
					<label>Last Name</label>
					<input name="last_name" ng-model="newuser.last_name">
				</div>
				<div> 
					<input type="submit" value="Add">
				</div>
			</form>
		</div>
	</div>
</section>
