// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #b0b0b0;

.hidden{
	display: none;
}
.searching{
	padding: 50px;
	background: $background;
}
form input.search, form textarea.search{
	width: 300px;
	margin-left: -1px;
}
ul.results{
	margin-left: 0px;
	width: 303px;
	position: absolute;
	border: black 1px solid;
	border-top: 0px;
	margin-top: -2px;
	li{
		list-style: none;
		background: linear-gradient(#efefef, #fefefe);
		&.marked{
			background: linear-gradient(#a0a0a0, #b0b0b0);
			&:hover{
				background: linear-gradient(#a1a1a1, #b1b1b1);
			}
		}
		&:hover{
			background: #909090;
		}
	}
}

li{
	list-style: none;
}
img.user_image{
	max-width: 120px;
	max-height: 120px;
}
img.little_user_image{
	max-width: 45px;
	max-height: 45px;
	vertical-align: middle;
}
.user_info{
	div, div h3, div h4{
		display: inline-block;
		vertical-align: middle;
	}
}

li.block{
	display: inline-block;
	width: 220px;
	min-width: 220px;
	max-width: 220px;
	height: 175px;
	min-height: 175px;
	max-height: 175px;
	border: solid 1px $background;;
	&.marked{
		border: solid 1px whitesmoke; 
		background: #efefef;
	}
	margin: 5px;
}
.image_containers{
	display: inline-block;
	padding: 5px;
	width: 200px;
	max-width: 200px;
	height: 175px;
	text-align: center;
	img{
		display: block;
		margin: auto;
	}
	.text{
		text-align: center;
		margin: auto;
		max-width: 200px;
	}
}


.animate-container {
  background:white;
  border:0px solid black;
  list-style:none;
  margin:0;
  padding:0;
}
 
.animate-container > li {
  padding:1px;
  list-style:none;
}

.animate-repeat,  
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-enter {
  line-height:0;
  opacity:0;
  padding-top:0;
  padding-bottom:0;
}
.animate-repeat.ng-enter.ng-enter-active {
  line-height:20px;
  opacity:1;
  padding:10px;
}
 
.animate-repeat.ng-leave {
  opacity:1;
  line-height:20px;
  padding:10px;
}
.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
  line-height:0;
  padding-top:0;
  padding-bottom:0;
}
 
.animate-repeat.ng-move { }
.animate-repeat.ng-move.ng-move-active { }